$width:800px;
$padding:20px;
body{
	font: 18px 'Open Sans', Georgia;
	color:#4A4A4A;
	font-weight: 300;
	background: url(../images/gray_jean.png);
}
a {
	color: #7D7D7D;
	text-decoration: none;
}
a:hover {
	color: #1F7ECD;
}

p{
	line-height:32px;
}
.content ::selection {
	background:rgba(74, 74, 74, 0.08);
}
img{max-width:100%;}

.noindent{text-indent:0 !important!;}
/*--------------------
	HEADER
--------------------*/
header{
	box-shadow:1px 2px 5px #333;
	border-top: 5px solid #25272A;
	background: #353636 url(../images/classy_fabric.png);
	width:100%;
	color:#fff;
}

header .inner{
	position: relative;
	max-width:$width;
	width:100%;
	margin:0 auto;
	height:108px;
}
nav{
	position:absolute;
	top:27px;
	right:40px;
	@include prefixer(transform-style, preserve-3d, webkit moz o);
	div{
		position: relative;
		width:240px;
		height:42px;
	}
	ul{
		position: absolute;
		top:0;
		//left:0;
		right:0; //for now!
		margin:0;padding:0;
		list-style:none;
		height:42px;
		@include transform-origin(50% 50%);
		@include transform(rotateX(-90deg) translateZ(21px));
	}
	li{
		display: inline-block;
		a{	
			color:#858689;
			background :#25272A;
			display:inline-block;
			width:38px;
			height:38px;
			border-radius: 6px;
			margin:0 3px;
			box-shadow:1px 1px 3px #222;
			@include transition(background 0.3s ease, color 0.2s ease);			
		}
	}
	.archives {
		a:hover, .current{
			background:#D24D33;
		}
		span{
			margin-left:-10px;
		}
	}
	.about {
		a:hover, .current{
			background:#1F7ECD;
		}
		span{
			margin-left:-3px;
		}
	}
	.feed {
		a:hover, .current{
			background:#C96C08;
		}
		span{
			width:52px;
			margin-left:-10px;
		}
	}
	.labs {
		a:hover, .current{
			background:#790679;
		}
		span{
			margin-left:2px;
		}
	}
	.projects{
		 a:hover, .current{
			background:#439238;
		}
		span{
			margin-left:-8px;
		}
	}
	.gsoc{
		a{
			width: 70px;
		}
		a:hover, .current{
			background:#7AD1E1;
		}
		span{
			width:72px;
			margin-left:-7px;
		}
	}
	.current, a:hover{
		color:#fff;
		.icon-gsoc{
			-webkit-filter:grayscale(0);
		}
	}
}
.icon-gsoc{
	background: url(../images/gsoc-small.png) no-repeat 6px 5px;
	border-radius:6px;
	-webkit-filter: grayscale(0.8);
}

nav, footer{
	ul span{
		display: inline-block;
		background:#222;
		padding:2px 6px;
		border-radius: 5px;
		font-size: 12px;
		opacity:0;
		@include transform(translateY(-44px) );
		@include transition(all .2s ease);
	}

	a:hover span{
		color:#fff;
		opacity:1;
		@include transform(translateY(-67px));
	}
}
i{	
	display:block;
	text-align: center;
	font-size:20px;
	height:38px;
	line-height:38px;
}

@include keyframes(rotateNav) {
  0% { @include transform(rotateX(0deg));}
  100% { @include transform(rotateX(90deg));}
}

.hideNav{
	@include animation(rotateNav 0.5s ease-in-out forwards);
}

.search{
	position: absolute;
	top:0;
	left:0;
	@include transform-origin(50% 50%);
	@include transform(rotateX(-90deg) translateZ(21px));
	input{
		border:0;
		padding:4px 8px;
		margin:2px;
		color: #7D7D7D;
		background:#222;
		font-size: 13px;
		width:220px;
		height:30px;
		border-radius:5px;
	}
}

.face{
	@include transform(translateZ(21px) rotateX(0deg));
}

.search-btn{
	color:#858689;
	
	display:inline-block;
	width:38px;
	height:38px;
	
	margin:0 3px;
	position: absolute;
	top:29px;
	right:0;
	cursor: pointer;

}

.search-btn:hover, .search-btn.active{
	color:#fff;
}
header hgroup{
	position: absolute;
	top:7px;
	left:0;
	padding-left:20px;
	height:108px;
}
header a h1{
	color:#fff;
	line-height:20px;
}
header h3{
	color:#5F6168;
	font-size:18px;
	font-family: 'Georgia';
	font-style: italic;
	font-weight:normal;
	width:100%;
}

/*--------------------
	CONTAINER
--------------------*/
.container{
	max-width:$width;
	width:100%;
	margin:20px auto;
}

.content{
	margin:0 $padding;
}

.recent{
	list-style:none;
	margin:0;
	padding:0;
	border-top: 1px solid #E0E0E0;
	li{
		display:block;
		border-bottom: 1px solid #E0E0E0;
	}
	span{
		font-size: 15px;
		color:#7D7D7D;
		display: inline-block;
		float:left;
	}
	a{
		color: #4A4A4A;
		display:block;
		padding:0 5px;
		line-height:60px;
		@include clearfix;
		@include transition(background 0.4s ease);
	}
	h3{
		margin:0 20px 0 0;
		font-weight:300;
		font-size:1em;
		line-height:60px;
		//max-width:70%;
		float:left;
	}
	a:hover{
		background:rgba(74, 74, 74, 0.05);
	}
}
/*--------------------
	ARTICLE
--------------------*/
article{
	border-bottom:2px dotted #E0E0E0;
	margin-bottom:10px;
	padding:10px 0 30px;
	img{
		box-sizing:border-box;
		padding:4px;
		background:#fff;
		border: 1px solid rgba(165, 158, 158, 0.57);
		box-shadow: 1px 2px 5px rgba(187, 175, 175, 0.63);
	}
}

article .meta{
	color:#979797;
	margin:5px 0 !important;
}

.post-nav{
	@include clearfix;
	.post-prev{
		box-sizing:border-box;
		position: relative;
		width:50%;
		padding-left:35px;
		float:left;
		&:before{
			position: absolute;
			left:0;
			top:-5px;
			content:"«";
			font-size:40px;
			width:40px;
			height:40px;
		}
	}

	.post-next{
		position: relative;
		width:50%;
		box-sizing:border-box;
		text-align: right;
		float:right;
		padding-right: 35px;
		&:after{
			position: absolute;
			right:0;
			top:-5px;
			content:"»";
			font-size:40px;
			width:40px;
			height:40px;
		}
	}
}

.emoji{
	background: none;
	padding:0;
	box-shadow: none;
	border:0;
}
/*--------------------
	FOOTER
--------------------*/
footer{
	margin-top:50px;
	border-top: 2px dotted #E0E0E0;
	text-align: center;

	p{
		font-size:0.95em
	}
}

.social{
		display:inline-block;
		list-style:none;
		margin: 35px 0 0;
		padding: 0;
	li{
		display:inline-block;
	}
	a{
		display: inline-block;
		width:40px;
		height:40px;
	}
}
