---
title: Google Summer of Code Journal
layout: base
---
<h2>Google Summer of Code Journal</h2>
<p>Latest updates and progress about my GSoC project <em>Accessible Cross Platform Collaboration</em> with Fluid Infusion.</p>
<h4> Project Description </h4>
<p>The project aims at creating an Accessible Cross Platform HTML5 Collaboration Web Application using Fluid Infusion framework to provide a flexible, personalizable user interface. Along with video conversation, the application shall have feature to chat, share websites and take notes collaboratively.</p>
<a class="button medium" href="https://github.com/iakshay/fluid-WebRTC">WebRTC Component</a>
<a class="button medium" href="https://github.com/iakshay/fluid-collaboration">Collaboration Application</a>

<h3> Weekly Progress</h3>
<ul class="recent">
{% for post in site.posts offset:0 limit:5 %}
  {% for tag in post.tags %}
  {% if tag == 'gsoc2013' %}
	<li>
		<a href="{{ post.url }}">
			<h3>{{ post.title }}</h3>
			<span>{{ post.date | date:"%B %d, %Y" }}</span>
		</a>
	</li>
	{% endif %}
	{% endfor %}
{% endfor %}
</ul>

